<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @hiding_place.admin_id %>
</p>

<%= link_to 'Edit', edit_hiding_place_path(@hiding_place) %> |
<%= link_to 'Back', hiding_places_path %>
