<section>
    <div class="contacts container-fluid py-3">
        <% if @contacts.any? %>
        <h4>Contacts</h4>
        <ul class="list-group">
            <%= render @contacts, show_options: false %>
        </ul>
        <% end %>
        <% if @groups.any? %>
        <h4>Groups</h4>
        <ul class="list-group">
            <%= render @groups, show_options: false %>
        </ul>
        <% end %>
        <% if @contacts.empty? && @more.any? %>
        <h4>More</h4>
        <ul class="list-group">
            <%= render @more, show_options: false %>
        </ul>
        <% end %>
    </div>
</section>