<section id="messages-container" class="d-flex justify-content-between h-100">
    <div class="row h-100 flex-sm-row">
        <div class="col col-sm col-md col-lg px-lg-3 px-md-1 px-sm-1 px-1">
            <% if !@msgs_pagy.next.nil? %>
            <%= link_to "More previous messages", conversation_messages_path(@conversation, msgs_page: 2), remote: true, id: "more-msgs-link", class: "btn btn-outline-info border border-info w-100" %>
            <% end %>
            <section id="messages" class="py-3">
                <%= render @msgs.reverse %>
                <%# react_component('Messages', {messages: @react_messages}) %>
            </section>
            <div class="row">
                <div class="col-0 col-sm-1 col-md-1"></div>
                <%# react_component('MessageForm', {authenticity_token: authenticity_token, url: conversation_messages_path(@conversation)}) %>
                <%= render 'messages/form', message: @message %>
            </div>
        </div>
        <%= render 'conversations/menu' %>
    </div>
</section>