<div class="form-group d-flex justify-content-center ">
    <%= image_tag current_user.second_in(conversation).avatar, size: 100, class: "conversation-logo rounded-circle btn p-0 shadow-none" %>
</div>
<div class="form-group">
	<div class="w-100 text-center">
		
    <%= current_user.second_in(conversation).name %>
	</div>
</div>