<section>
    <div class="container-fluid py-3 text-center">
        <h3>Nothing found</h3>
        <p class="m-0">
            We couldn't find any matches
            for '<%= q %>'
        </p>
    </div>
</section>