<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/offline/head' %>
  </head>
  <body class="offline">
    <%= render 'layouts/offline/navbar' %>
    <div class="hidden-x">
      <%= yield %>
    </div>
  </body>
</html>