h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat-SemiBold, Orbitron-SemiBold, sans-serif;
}

section,
aside,
div,
p {
    font-family: Montserrat-Light, Orbitron-Regular, sans-serif;
}

/* Orbitron */
@font-face {
    font-family: "Orbitron-Black";
    src: url('/assets/Orbitron/static/Orbitron-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Orbitron-Bold";
    src: url('/assets/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Orbitron-ExtraBold";
    src: url('/assets/Orbitron/static/Orbitron-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Orbitron-Medium";
    src: url('/assets/Orbitron/static/Orbitron-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Orbitron-Regular";
    src: url('/assets/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Orbitron-SemiBold";
    src: url('/assets/Orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
}
/* Orbitron */
/* Monserrat */
@font-face {
    font-family: "Montserrat-Black";
    src: url('/assets/Montserrat/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-BlackItalic";
    src: url('/assets/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('/assets/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url('/assets/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url('/assets/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-ExtraBoldItalic";
    src: url('/assets/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url('/assets/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-ExtraLightItalic";
    src: url('/assets/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url('/assets/Montserrat/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Light";
    src: url('/assets/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url('/assets/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url('/assets/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url('/assets/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('/assets/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('/assets/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url('/assets/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url('/assets/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat-ThinItalic";
    src: url('/assets/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
}
/* Montserrat */