$primary-color: #ff4081;
$danger-color: #f44336;

.add-cancel-icons {
    transition-duration: 250ms;
}

.add-cancel-icons.active {
	color: $danger-color;
    transform: rotate(45deg);
}

.message.removed {
	.content {
		border: 1px solid !important;
		background-color: white !important;
		font-style: italic;
	}
}