@media(max-width: 767px) {
    .collapse-flex-sm.show {
        display: flex !important;
    }

    .position-fixed-sm {
        position: fixed;
    }

    .d-flex-sm {
        display: flex !important;
    }

    .d-sm-none {
        display: none;
    }
}

@media(min-width: 768px) {
    .position-absolute-md {
        position: absolute;
    }

    .collapse-md.show {
        display: block !important;
    }
}

@media(min-width: 992px) {}

@media(min-width: 1200px) {}